html {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.title {
    text-align: center;
    font-size: 56px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.container_card {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 15px;
    /* max-width: 800px;
    padding: 30px 15px; */
    margin: 0 auto;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 150px;
    padding: 30px;
    background-color: rgb(232, 45, 45);
    font-size: 0;
    color: transparent;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .3s, color .3s, transform .1s;


}

.card:hover {
    background-color: rgb(239, 106, 106);
}

.card:active {
    background-color: rgb(218, 12, 12);
    transform: scale(.95);
}

.card_open {
    font-size: 56px;
    color: white;
    background-color: rgb(78, 66, 214);
    cursor: default;
}

.card_open:hover {
    background-color: rgb(78, 66, 214);
}

.card_open:active {
    background-color: rgb(78, 66, 214);
}

.identical {
    font-size: 56px;
    color: white;
    background-color: rgb(47, 186, 35);
    cursor: default;
}

.identical:hover {
    background-color: rgb(47, 186, 35);
}

.identical:active {
    background-color: rgb(47, 186, 35);
}

.btn {
    display: block;
    min-width: 100px;
    max-width: fit-content;
    padding: 11px 20px;
    margin: 35px auto 0;
    border-radius: 10px;
    font-size: 42px;
    color: rgb(247, 247, 40);
    background-color: rgb(80, 35, 186);
    cursor: pointer;
}